md-sidenav-layout.m2app-dark {
    background: black;
    direction: rtl;
}

md-input {
    direction: rtl;
}

#des {
    min-width: 30%;
}

md-toolbar {
    direction: rtl;
}

.brand-logo {
    background-color: #e2546d;
}

.app-content {
    padding: 20px;
    direction: rtl;
}

.app-content md-card {
    margin: 20px;
    direction: rtl;
}

.app-sidenav {
    direction: rtl;
    padding: 10px;
    min-width: 100px;
}

.app-content md-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.app-input-icon {
    font-size: 16px;
}

.app-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px;
}

.app-input-section {
    height: 300px;
    direction: rtl;
    display: inline-block;
}

.save-button {
    position: absolute;
    bottom: 8px;
    left: 16px;
}