/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
@import 'assets/font-awesome-4.7.0/css/font-awesome.min.css';
* {
    font-family: 'Varela Round', sans-serif;
}

.fixedElement {
    background-color: #c0c0c0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

<<<<<<< HEAD
.ui-accordion .ui-accordion-header a {
    background-color: #571845;
    color: white;
}

=======
>>>>>>> 7d2e0520a84460d31fabfe78d256a4ac1253745d
md-sidenav-layout.m2app-dark {
    background: black;
    direction: rtl;
}

md-input {
    direction: rtl;
}

md-toolbar {
    direction: rtl;
}

.brand-logo {
    background-color: #e2546d;
}

.app-content {
    padding: 20px;
    direction: rtl;
}

.app-content-inner {
    display: flex;
    background-color: #e2546d;
}

.app-content md-card {
    margin: 10px;
    overflow-x: hidden;
}

.app-sidenav {
    direction: rtl;
    padding: 10px;
    min-width: 100px;
}

.app-content md-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.app-input-icon {
    font-size: 16px;
}

.app-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 10px;
}

.app-input-section {
    height: 300px;
    direction: rtl;
    display: inline-block;
}

.save-button {
    position: absolute;
    bottom: -8px;
    left: -16px;
}